.perimeter {
  display: flex;
  align-items: center;
}

.text {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  width: 30px;
  font-size: 15px;
  text-align: center;
}

.square {
  display: flex;
  align-items: center;
}
