.sides {
  display: flex;
  justify-content: space-around;
}

input {
  width: 30px;
  font-size: 15px;
  text-align: center;
}

.result {
  margin-top: 50px;
  margin-left: 50px;
}

.colors {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.hex {
  margin-top: 50px;
}
